<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.tangomike.sima2016_nahaemoon_chronocle">

    <uses-sdk android:minSdkVersion="19" android:maxSdkVersion="23"></uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationManager"
        android:hardwareAccelerated="true">
        <activity android:name=".StartActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">


        </activity>


        <activity android:name=".TimelineActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">

        </activity>



        <activity android:name=".MediaTopActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">

        </activity>

        <activity android:name=".MediaArticleListActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">


        </activity>

        <activity android:name=".ArticleViewActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">


        </activity>

        <activity android:name=".MediaVideoActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait">

        </activity>

        <activity android:name=".MediaAudioBookActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait"
            ></activity>

        <activity android:name=".TimelineDetailActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="reversePortrait"
            ></activity>



    </application>

</manifest>